# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/

*.csv

# macOS junk
.DS_Store

# VSCode settings (optional)
.vscode/

# Credentials or token files
*.json
*.key
*.pem

# Output or ZIPs
*.zip
*.tar.gz
